@page "/countries"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas"></i> Países
            <a class="btn btn-sm btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"></i> Adicionar País</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar país..." Callback=@FilterCallBack />

        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" 
                    RecordsNumber="SelectedRecordsNumberAsync" />


        <GenericList MyList="Countries">
            <Body>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th style="width:210px">Departamentos / Estados</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Countries!)
                        {
                            <tr>
                                <td><a href="/countries/details/@country.Id">@country.Name</a></td>
                                <td>
                                    @country.StatesNumber
                                </td>

                                <td>
                                    <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(country.Id, true))><i class="bi bi-pencil" /> Editar</a>
                                    @* <a class="btn btn-info btn-sm" href="/countries/details/@country.Id">Detalles</a> *@
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(country))><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>



