@page "/categories"

<h3>Categorías</h3>

<div class="mb-3">
    <a class="btn btn-sm btn-outline-primary" href="/categories/create">Nueva Categoría</a>
</div>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />

<GenericList MyList="Categories">
    <Body>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Categorías</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Categories!)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <a href="/categories/edit/@category.Id" class="btn btn-sm btn-warning">Editar</a>
                            <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(category))>Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </Body>
</GenericList>
