@page "/categories"

<h3>Categorías</h3>

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-check"></i> Categorias
            <a class="btn btn-sm btn-primary float-end" href="/categories/create"><i class="bi bi-plus-square"></i> Adicionar Categoría</a>
        </span>
    </div>
    <div class="card-body">
        
                <Filter PlaceHolder="Buscar categoría..." Callback=@FilterCallBack />

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync"
            RecordsNumber="SelectedRecordsNumberAsync" />

<GenericList MyList="Categories">
    <Body>
     

        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Categorías</th>
                    <th style="width:168px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Categories!)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                                    <a href="/categories/edit/@category.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil" /> Editar</a>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(category))><i class="bi bi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </Body>
</GenericList>
    </div>
</div>

